.jl-link,
.jl-link:hover,
.jl-link:active,
.jl-link:visited {
  color: #06a24e;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.jl-link + .jl-link {
  margin-top: 1rem;
}
